@page "/imc"

<h3>IMC</h3>

<label>Informe sua Altura</label>
<input/>
<br/>

<label>Informe seu peso</label>
<input/>
<br/>

<button>Calcular IMC</button>
<br />
<br />

<label>Seu IMC É: </label>


@code {


}
